.main-page-body {
  font-family: 'Fira Code', monospace;
  line-height: 1.6;
  overflow: scroll;
}

/* Main page header */

.main-page-header {
  background: url(../assets/bg.jpg) no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.main-page-header-content-box {
  border-radius: 5%;
  width: 80%;
  height: 80%;
}

@keyframes blurintofocus {
  from {
      filter: blur(1.5rem);
  }

  to {
      filter: blur();
  }
}

.main-page-header-content-box h1, h2 {
  align-content: center;
  text-align: center;
}

.main-page-header-content-box ul, li {
  list-style: none;
}

.main-page-header-content-box ul {
  display: flex;
  justify-content: space-evenly;
  font-size: 2.2vw
}

.main-page-header-content-box nav {
  margin: 0 auto;
}

.main-page-header-content-box a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  padding: 15px;
  margin: 0 5px;
  transition: transform 0.2s ease-in;
}

.main-page-header-content-box a:hover {
  transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
}

.main-page-header-content-box-item {
  margin: 5px auto;
}

.main-page-header-content-box img {
  border-radius: 50%;
  max-width: 50%;
  max-height: 50%;
  object-fit: fill;
}

/* Main page content */

.main-page-content {
  background-color: var(--main-page-content-bg-primary-color);
  color: var(--main-page-content-text-primary-color);
  border-top-color: #000;
  border-top-width: 4px 0;
  border-top-style: solid;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

.main-page-content-intro {
  width: fit-content;
  margin: 10px auto;
  letter-spacing: .15em; /* Adjust as needed */
}

/** Typewritter animation from https://codepen.io/denic/pen/GRoOxbM **/
.typewritter-effect {
  width: 8ch;
  animation: typing 3.5s steps(8), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-size: 1.6em;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}